<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>DemoServ</servlet-name>
  	<display-name>DemoServ</display-name>
  	<description></description>
  	<servlet-class>com.pp.DemoServ</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DemoServ</servlet-name>
  	<url-pattern>/DemoServ</url-pattern>
  </servlet-mapping>

	<servlet>
		<servlet-name>TogglzConsoleServlet</servlet-name>
		<servlet-class>org.togglz.console.TogglzConsoleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TogglzConsoleServlet</servlet-name>
		<url-pattern>/togglz/*</url-pattern>
	</servlet-mapping>


	<filter>
		<filter-name>TogglzFilter</filter-name>
		<filter-class>org.togglz.servlet.TogglzFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TogglzFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<context-param>
	  <param-name>org.togglz.core.manager.TogglzConfig</param-name>
	  <param-value>com.pp.MyTogglzConfiguration</param-value>
	</context-param>
  
</web-app>
